fastapi==0.103.2
uvicorn==0.23.2
transformers==4.34.0
tensorflow==2.14.0
sentencepiece==0.1.99
sacremoses==0.0.53
spacy==3.7.1
pandas==2.1.1
openai==1.12.0
python-dotenv==1.0.0
rdflib==7.0.0
tensorflow_probability==0.22.0
numpy==1.23.5
typing-extensions==4.5.0
langchain==0.1.9
tiktoken==0.6
pypika==0.48.9
pybind11==2.11.1
hnswlib==0.4.0
chromadb==0.4.14
sentence-transformers==2.2.2
levenshtein==0.23.0
langchain-community== 0.0.22
faiss-cpu==1.7.4
rank_bm25==0.2.2
validators==0.22.0

