fastapi==0.103.2
uvicorn==0.29.0
transformers==4.40.2
tensorflow==2.16.1
sentencepiece==0.2.0
sacremoses==0.1.1
spacy==3.7.4
pandas==2.2.2
openai==1.28.0
python-dotenv==1.0.1
rdflib==7.0.0
tensorflow_probability==0.24.0
numpy==1.26.4
typing-extensions==4.11.0
langchain==0.1.20
tiktoken==0.6
pypika==0.48.9
pybind11==2.12.0
hnswlib==0.8.0
chromadb==0.5.0
sentence-transformers==2.7.0
levenshtein==0.25.1
langchain-community== 0.0.38
faiss-cpu==1.8.0
rank_bm25==0.2.2
validators==0.28.1
tf-keras==2.16.0

